<div class="form-row">
  <div class="col"></div>
  <div class="form-col">
    <form class="needs-validation" action="https://formspree.io/f/mrgnrdby" method="POST" novalidate>
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
        <div class="invalid-feedback">Please enter a valid email address.</div>
      </div>
      <div class="form-group">
        <label for="feedback">What would you like to see at the maker space?</label>
        <textarea class="form-control" id="feedback" name="feedback" rows="10" placeholder="Things you'd like to see, feedback, etc" required></textarea>
        <div class="invalid-feedback">Please enter some feedback to send.</div>
      </div>
      <button type="submit" class="btn btn-primary">Send</button>
    </form>
  </div>
  <div class="col"></div>
</div>
