@font-face {
  font-family: "PW Scratched";
  src: url("/strathearnmakers/fonts/PWScratched.ttf") format("truetype");
}

@font-face {
  font-family: "Typo Draft";
  src: url("/strathearnmakers/fonts/TypoDraft.ttf") format("truetype");
}

@font-face {
  font-family: "Dosis";
  src: url("/strathearnmakers/fonts/DosisVariable.ttf") format("truetype");
  font-style: normal;
  font-weight: 200 800;
}

// Bootstrap font overrides
$font-family-base: "Dosis", sans-serif;
$font-size-base: 1.25rem;
