.hazard-row {
  @extend .row;
  @extend .pt-3;
  @extend .pb-3;
}

.hazard-card {
  @extend .card;
  @extend .col-10;
  @extend .col-xl-8;

  // Light yellow content div
  div {
    padding: 0.5rem;
    background-color: tint-color($strath_yellow, 70%);

    // Both content divs
    div {
      @extend .d-flex;
      @extend .flex-row;
    }

    // Header text
    div:first-child {
      @extend .justify-content-center;
      padding-bottom: 0;
      
      h2 {
        font-weight: 600;
      }

      // Header image (small warning sign)
      img {
        @include media-breakpoint-up(sm) {
          display: none;
        }

        height: 2.7rem;
      }
    }

    div:last-child {
      padding-top: 0;
      // Copy text image (larger warning sign)
      img {
        @include media-breakpoint-down(sm) {
          display: none;
        }

        height: 6rem;
        padding-right: 0.5rem;
        padding-top: 0.5rem;
      }
    }
  }
 
  // Outer border
  border: 1px solid shade-color($strath_yellow, 10%);

  // Hazard tape border
  background: repeating-linear-gradient(
    -45deg,
    $strath_yellow,
    $strath_yellow 15px,
    black 15px,
    black 30px
  );

 // Hazard tape border thickness
  padding: 0.5rem;
}
